<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">

            <h4 class="card-title">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}" class="btn btn-primary btn-xs">crear
                    cliente</a>
            </h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th sec:authorize="hasRole('ROLE_USER')">rut</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">crear factura</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">editar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="persona: ${personas}">
                    <td sec:authorize="hasRole('ROLE_USER')">
                        <a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${persona.rut}"
                           th:text="${persona.rut}"></a></td>
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.telefono}"></td>
                    <td th:text="${persona.email}"></td>
                    <td th:text="${persona.createAt}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success btn-xs"
                                                                 th:href="@{'/factura/form/' + ${persona.rut}}"
                                                                 th:text="'crear factura'"></a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs"
                                                                 th:href="@{/form/} + ${persona.rut}"
                                                                 th:text="'editar'"></a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs"
                                                                 th:href="@{/eliminar/} + ${persona.rut}"
                                                                 th:text="'eliminar'"
                                                                 onclick="return confirm('Estas seguro que quieres eliminar?');"></a>
                    </td>
                </tr>
                </tbody>

            </table>
            <nav th:replace="paginator-nav :: paginator"></nav>
        </div>
    </div>

</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>